/* This */

:root {
  --background: #fff;
  --purple: #8d43ea;
  --darker-purple: #5c23a2;
  --border-3px: 1px solid;
  --border-radius-15: 15px;
  --heading-font: "Julius Sans One", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  background-color: var(--background);
  padding: 10px 0px;
}
nav {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: var(--background);
  width: 100vw;
  top: 0px;
  padding: 7px 2px;
}

.nav-menu {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style-type: none;
  text-align: center;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 200;
  font-size: 1.25rem;
}

li a {
  font-size: 1rem;
  font-weight: 200;
  padding: 10px 6px;
}

li a:hover {
  background: #f1f1f1;
  border-radius: var(--border-radius-15);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 70px;
}

h1,
h2,
h3,
.intro-text {
  font-weight: 400;
  font-family: var(--heading-font);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  margin-top: 32px;
}

h3,
.intro-text {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.9rem;
  font-weight: 500;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
}

.text-color {
  color: var(--purple);
}

#about,
#projects,
#contact,
#section-2-tech,
#section-2-cv {
  scroll-margin-top: 60px;
  margin: 20px auto;
  width: 90%;
  max-width: 479px;
}

#section-2-tech,
#section-3 {
  text-align: right;
}

#section-2-tech,
#section-4 {
  display: grid;
}

.h2-underline::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--purple);
}

/* INTRODUCTION */
.intro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.headshot-img {
  width: 260px;
}

.intro-text_layout {
  display: flex;
  flex-direction: column;
}

.intro-text {
  padding: 6px 0px;
}

.get-in-touch_cta {
  font-size: 26px;
  margin-top: 10px;
  color: var(--purple);
  padding: 2px 3px;
  text-align: center;
  width: 133px;
}

.get-in-touch_cta:hover {
  background: #f1f1f1;
  border-radius: 10px;
}

/*ABOUT ME*/

.about-me-text {
  margin: 20px auto;
  width: 90%;
}

/* TECHNICAL SKILLS & CONTACT LINKS */

.tech-skill-container,
.contact-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.tech-skill,
.contact-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background: #f1f1f1;
  border-radius: var(--border-radius-15);
  height: 112px;
  width: 94px;
}

.tech-skill p,
.contact-button p {
  font-size: 1rem;
  text-align: center;
}

.tech-skill img,
.contact-button img {
  height: 50px;
}

.contact-button {
  color: #000;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.contact-button:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

/* CURRICULUM VITAE */

.cv-container {
  display: flex;
  flex-direction: column;
  max-width: 947px;
  margin: auto;
  width: 88%;
}

.cv-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cv-h3 {
  margin: 25px auto 20px auto;
}

.references-request {
  margin: 20px auto;
}

/* PROJECTS */

.project-card {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  background: #f1f1f1;
  border-radius: var(--border-radius-15);
  max-width: 600px;
  width: 90%;
}

.project-img {
  width: 90%;
  display: block;
  margin: 20px auto;
  box-shadow: 1px 1px 3px 0px lightgray;
}

.project-h2 {
  font-size: 1.85rem;
  margin: 0px auto 10px auto;
}

.project-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.project-text p {
  margin-bottom: 20px;
}

.project-links-layout {
  margin: 0px auto 20px auto;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.project-link {
  color: var(--purple);
  font-size: 1rem;
  padding: 3px 5px;
  border: 1px solid transparent;
}

.project-link:hover {
  color: #000;
}

.fa-earth-americas,
.fa-github {
  margin-right: 5px;
}

footer {
  margin: 15px auto;
  text-align: center;
}

/*DESKTOP*/
@media only screen and (min-width: 1000px) {
  body {
    margin-top: 100px;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .nav-menu {
    gap: 60px;
  }

  li a {
    font-size: 1.8rem;
    padding: 3px 12px;
  }

  h1 {
    font-size: 3.3rem;
  }

  h2 {
    font-size: 2.875rem;
    margin-top: 0px;
  }

  h3,
  .intro-text {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.25rem;
  }

  #about,
  #projects,
  #contact,
  #section-2-tech,
  #section-2-cv {
    scroll-margin-top: 90px;
    max-width: 900px;
  }

  .h2-underline::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--purple);
  }

  /* INTRODUCTION */

  .intro {
    flex-direction: row;
    gap: 107px;
    justify-content: center;
  }

  .headshot-img {
    width: 303px;
  }

  .intro h1 {
    margin: auto;
    padding-bottom: 27px;
  }

  .intro-text {
    text-align: left;
  }

  .get-in-touch_cta {
    width: 147px;
  }

  /* ABOUT ME */

  .about-me-text {
    width: 85%;
  }

  /* TECHNICAL SKILLS & CONTACT LINKS */

  .tech-skill-container {
    justify-content: end;
    margin: 20px 50px 20px 280px;
  }

  /* CURRICULUM VITAE */

  .cv-container {
    flex-direction: row;
    gap: 210px;
  }

  .cv-text {
    gap: 34px;
  }

  .cv-h3 {
    margin: 50px auto 20px auto;
  }

  /*CONTACT*/
  .contact-container {
    justify-content: flex-start;
    margin: 20px 20px 20px 50px;
  }

  @media only screen and (min-width: 1200px) {
    /* PROJECTS */

    .project-card {
      flex-direction: row;
      margin: 25px auto;
      max-width: 1000px;
    }

    .project-img-container {
      margin: auto 20px;
      max-width: 430px;
    }

    .project-img {
      width: 100%;
      object-fit: cover;
    }

    .project-h2 {
      font-size: 2rem;
      text-align: left;
      margin: 0px;
    }

    .project-text {
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 418px;
    }

    .project-text p {
      width: 95%;
      text-align: left;
      margin: 0px;
    }

    .project-links-layout {
      justify-content: flex-start;
      margin: 0px;
      text-align: left;
    }

    .project-link {
      padding: 0px;
    }
  }
}
